<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <style>
        button{
            width:10%;
            height:30px;
        }
    </style>

</head>
<body>
    <div id="app">
        <child-component v-bind:what="message"></child-component>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('child-component',{
            template:'<p>{{what}}</p>',
            props:['what']
        })
        new Vue({
            el:'#app',
            data:{
                message:'hello!'
            }
        });
    </script>
</body>

</html>